<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CleaningCompany APP</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <style>
        footer {
            background-color: #555;
            color: white;
            padding: 5px;
            margin-top: 25px;
        }

    </style>
    <script>
        var data = new Date();
    </script>

</head>

<body>
    <script src="/js/bootstrap.js"></script>
    {{#if usuario}}
    <div class="container-fluid">
        <div  class="row content">
            <div id="menu" class="col-sm-3" style="background-color: dodgerblue">
                <div class="card mt-5 shadow ">
                    <h5 class="card-header bg-info">Usuário</h5>
                    <div class="card-body">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="/img/usuarios2.png" width="80px" height="80px" alt="">
                            </div>
                            <div class="col-md-8">
                                <h5 class="card-title"> <b>Nome:</b> {{usuario.first_name}} {{usuario.last_name}}</h5>
                                <p class="card-text"><b>Tipo: </b> Administrador</p>
                            </div>
                        </div>
                        <div class="d-grid gap-2 d-md-flex mt-2 justify-content-md-end">
                            <a href="/perfil"><button class="btn btn-primary me-md-2" type="button"> <img src="/img/user-profile.png"
                                    alt="" width="30px" height="30px"> Ver Perfil</button></a>
                            <a href="/logout"><button class="btn btn-danger" type="button"> <img src="/img/logout.png" alt="" width="30px"
                                    height="30px"> Logout</button></a>
                        </div>
                    </div>

                </div>

                <div class="col-12 mt-4">
                    <div class="list-group mx-auto" id="list-tab" role="tablist">
                        <a class="list-group-item list-group-item-action active" id="home" href="/home"> <img class="mb-2"
                                src="/img/home-run.png" alt=""> Home</a>
                        <a class="list-group-item list-group-item-action" id="novoFuncionario"  href="/employee/add">
                            <img class="mb-2" src="/img/add-user.png" alt=""> Novo Funcionário</a>
                        <a class="list-group-item list-group-item-action" id="buscarFuncionario" href="/employee/recovery" > 
                            <img class="mb-2" src="/img/search.png" alt=""> Buscar Funcionário</a>
                        <a class="list-group-item list-group-item-action" id="novoCliente" href="/client/add"> 
                            <img class="mb-2" src="/img/add.png" alt=""> Novo Cliente</a>
                        <a class="list-group-item list-group-item-action" id="buscarCliente" href="/client/recovery"> 
                            <img class="mb-2" src="/img/search-client.png" alt=""> Buscar Cliente</a>
                        <a class="list-group-item list-group-item-action" id="novoContrato" href="/contract/add" > <img class="mb-2"
                                src="/img/house-cleaning.png" alt=""> Novo Contrato</a>
                        <a class="list-group-item list-group-item-action" id="limpezaDoDia" href="/limpeza/limpeza_do_dia"> <img class="mb-2"
                                src="/img/dailyRequest.png" alt=""> Limpezas do dia</a>
                        <a class="list-group-item list-group-item-action" id="buscarContrato" href="/contract/busca_contrato"> 
                            <img class="mb-2" src="/img/searchContracts.png" alt=""> Buscar Contratos</a>
                        <a class="list-group-item list-group-item-action" id="novaReceita" href="/income/add" role="tab" aria-controls="settings"> 
                        <img class="mb-2" src="/img/newContract.png" alt=""> Nova Receita</a>
                        <a class="list-group-item list-group-item-action" id="caixaDoDia" href="/cash_desk/dailyList"> <img class="mb-2"
                                src="/img/dailyMoney.png" alt=""> Caixa do dia</a>
                        <a class="list-group-item list-group-item-action" id="buscarCaixa" href="/cash_desk/search"> <img class="mb-2"
                                src="/img/moneySearch.png" alt=""> Buscar Caixa</a>

                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                <h4 class="mt-3 text-white bg-info" align="center">
                    <img src="/img/household.png" alt="" width="30px" height="30px">
                    <small>CLEANING COMPANY APP</small>
                </h4>
                <hr>
                {{>_msg}}
                {{{body}}}

            </div>
        </div>
    </div>

    <footer>
        <h4 align="center">&copy; App desenvolvido pela empresa RAIN</h4>
    </footer>
    {{else}}
    {{{body}}}
    {{/if}}
</body>

</html>