<script>
    var elementoAtivo = document.getElementsByClassName("active");
    elementoAtivo[0].classList.remove('active');
    var elemento = document.getElementById("buscarContrato");
    elemento.classList.add("active");
</script>

<div class="card">

    <div class="card-header text-white" style="background-color:lightslategray">
        <div class="row g-3">
            <div class="col-1">
                <img class="rounded mx-auto d-block" src="/img/info2.png" width="60px" heigth="60px" alt="">
            </div>
            <div class="col-11 mt-4">
                <h1>Informações do Contrato</h1>
            </div>
        </div>
    </div>
    <div class="card-body bg-info">
        <form>
            <div class="mb-3">
                <label for="cliente" class="form-label">Cliente:</label>
                <input type="text" class="form-control" value="{{contract.client_name}}" readonly="true" name="cliente" id="cliente"
                    aria-describedby="cliente">
            </div>
            <div class="row g-3 mb-3">
                <div class="col-md-6">
                <label for="contract_price" class="form-label">Preço do Contrato em R$</label>
                <input type="text" class="form-control" value="{{contract.contract_price}}" readonly="true" name="contract_price" id="contract_price"
                    aria-describedby="contract_price">
                </div>
                <div class="col-md-6">
                <label for="expiration" class="form-label">Validade do Contrato</label>
                <input type="text" class="form-control" value="{{contract.expiration}}" readonly="true" name="expiration" id="expiration"
                    aria-describedby="expiration">
                </div>
            </div>
            <div class="mb-3">
                <label for="contract_type" class="form-label">Tipo do Contrato</label><br>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="contract_type" id="contract_type" required="true" readonly checked>
                    <label class="form-check-label" for="contract_type">{{contract.contract_type}}</label>
                </div>
            </div>
            <div class="row g-3 mb-3">
                <div class="mb-3 col-10">
                    <label for="street" class="form-label">Rua</label>
                    <input type="text" class="form-control" name="street" id="street" readonly="true" required="true" value="{{contract.address.street}}">
                </div>
                <div class="col-md-2">
                <label for="number" class="form-label">Número</label>
                <input type="text" class="form-control" name="number" id="number" readonly="true" required="true" value="{{contract.address.number}}">
                </div>
            </div>
        
            <div class="row g-3 mb-3">
                <div class="col-md-8 mb-3">
                    <label for="neighborhood" class="form-label">Bairro</label>
                    <input type="text" class="form-control" name="neighborhood" id="neighborhood" readonly="true" required="true" value="{{contract.address.neighborhood}}">
                </div>
                <div class="col-md-4">
                <label for="zipcode" class="form-label">Código Postal</label>
                <input type="text" class="form-control" name="zipcode" id="zipcode" readonly="true" required="true" value="{{contract.address.zipcode}}">
                </div>
            </div>

            <div class="row g-3 mb-3">
                <div class="col-md-8 mb-3">
                    <label for="city" class="form-label">Cidade</label>
                    <input type="text" class="form-control" name="city" id="city" readonly="true" required="true" value="{{contract.address.city}}">
                </div>
                <div class="col-md-4">
                <label for="state" class="form-label">Estado</label>
                <input type="text" class="form-control" name="state" id="state" readonly="true" required="true" value="{{contract.address.state}}">
                </div>
            </div>
            <div align="center">
                <button type="button" class="btn btn-primary" onclick="location.href = document.referrer;">Voltar</button>
            </div>
        </form>
    </div>
</div>