<script>
    var elementoAtivo = document.getElementsByClassName("active");
    elementoAtivo[0].classList.remove('active');
    var elemento = document.getElementById("buscarContrato");
    elemento.classList.add("active");

    
</script>


<div class="card">

    <div class="card-header text-white" style="background-color:lightslategray">
        <div class="row g-3">
            <div class="col-1">
                <img class="rounded mx-auto d-block" src="/img/pencil2.png" width="60px" heigth="60px" alt="">
            </div>
            <div class="col-11 mt-4">
                <h1>Editar Cliente</h1>
            </div>
        </div>
    </div>
    <div class="card-body bg-info">
        <form action="/contract/update" method="POST">
        <div class="mb-3">
            <label for="client_name" class="form-label">Cliente:</label>
            <input type="text" class="form-control" value="{{contract.client_name}}" name="client_name" id="client_name"
                    aria-describedby="cliente" readonly>
        </div>
        <div class="row g-3 mb-3">
            <div class="col-md-6">
            <label for="contract_price" class="form-label">Preço do Contrato em R$</label>
            <input type="text" class="form-control" value="{{contract.contract_price}}" name="contract_price" id="contract_price"
                    aria-describedby="contract_price">
            </div>
            <div class="col-md-6">
            <label for="validity" class="form-label">Validade do Contrato</label>
            <input type="date" class="form-control" value="{{contract.expiration}}" name="expiration" id="expiration"
                    aria-describedby="expiration">
            </div>
        </div>
        <div class="mb-3">
            <label for="contract_type" class="form-label">Tipo do Contrato</label><br>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="contract_type" id="semanal" value="semanal" required="true" 
                {{#if contract.semanal}}
                checked
                {{else}}
                {{/if}}
                >
                <label class="form-check-label" for="semanal">Semanal</label>
                </div>
                <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="contract_type" id="quinzenal" value="quinzenal" required="true"
                {{#if contract.quinzenal}}
                checked
                {{else}}
                {{/if}}
                >
                <label class="form-check-label" for="quinzenal">Quinzenal</label>
                </div>
                <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="contract_type" id="mensal" value="mensal" required="true"
                {{#if contract.mensal}}
                checked
                {{else}}
                {{/if}}
                >
                <label class="form-check-label" for="mensal">Mensal</label>
            </div>
        </div>

        <div class="row g-3 mb-3">
        <div class="col-md-6">
            <label for="employee" class="form-label">Funcionário</label>
            <select required class="form-select" name="employee" aria-label="Default select example">
            {{#each employees}}
                <option value="{{_id}}-{{first_name}}-{{last_name}}" 
                    {{#if selected}} selected = "true"
                    {{else}}
                    {{/if}}
                 > {{first_name}} {{last_name}}</option>
            {{else}}

            {{/each}}
        </select>
        </div>
        <div class="col-md-6">
          <label for="nextCleaningDate" class="form-label">Data da Próxima Limpeza</label>
          <input type="date" class="form-control" id="nextCleaningDate" name="nextCleaningDate" value={{contract.nextCleaningDate}} required="true">
        </div>
        </div>
        <div class="row g-3 mb-3">
            <div class="mb-3 col-10">
                <label for="street" class="form-label">Rua</label>
                <input type="text" class="form-control" name="street" id="street" required="true" value="{{contract.address.street}}">
            </div>
            <div class="col-md-2">
            <label for="number" class="form-label">Número</label>
            <input type="text" class="form-control" name="number" id="number" required="true" value="{{contract.address.number}}">
            </div>
        </div>
        
        <div class="row g-3 mb-3">
            <div class="col-md-8 mb-3">
                <label for="neighborhood" class="form-label">Bairro</label>
                <input type="text" class="form-control" name="neighborhood" id="neighborhood" required="true" value="{{contract.address.neighborhood}}">
            </div>
            <div class="col-md-4">
            <label for="zipcode" class="form-label">Código Postal</label>
            <input type="text" class="form-control" name="zipcode" id="zipcode" required="true" value="{{contract.address.zipcode}}">
            </div>
        </div>

        <div class="row g-3 mb-3">
            <div class="col-md-8 mb-3">
                <label for="city" class="form-label">Cidade</label>
                <input type="text" class="form-control" name="city" id="city" required="true" value="{{contract.address.city}}">
            </div>
            <div class="col-md-4">
            <label for="sub_division" class="form-label">Estado</label>
            <input type="text" class="form-control" name="state" id="state" required="true" value="{{contract.address.state}}">
            </div>
        </div>
        <input type="hidden" name="id" value="{{contract._id}}">
        <div align="center">            
            <button type="submit" class="btn btn-primary">Salvar</button>
                <button type="button" class="ms-3 btn btn-primary" onclick="location.href = document.referrer;">Voltar</button>
        </div>
    </form>
    </div>
</div>