<script>
    var elementoAtivo = document.getElementsByClassName("active");
    elementoAtivo[0].classList.remove('active');
    var elemento = document.getElementById("buscarContrato");
    elemento.classList.add("active");
</script>

<div class="card">
    <div class="card-header text-white" style="background-color:lightslategray">
        <div class="row g-3">
            <div class="col-1">
                <img class="rounded mx-auto d-block" src="/img/searchContracts.png" width="60px" heigth="60px" alt="">
            </div>
            <div class="col-11 mt-4">
                <h1>Buscar Contratos</h1>
            </div>
        </div>
    </div>
    <div class="card-body">
        <form action="/contrato/busca_contrato/:busca" method="GET">
            <div class="row g-3">
                <div class="col-sm-7">
                    <input type="text" name="busca" class="form-control"
                        placeholder="Digite o nome para buscar entre os contratos">
                </div>
                <div class="col-auto">
                    <button class="btn btn-primary" type="submit"> <img src="/img/search3.png" alt=""> Buscar
                        Contratos</button>
                </div>
                <div class="col-auto">
                    <a href=""><button class="btn btn-primary" type="button"> <img src="/img/list2.png" alt=""> Listar
                        Todos</button></a>
                </div>
            </div>
        </form>
    </div>
</div>
<table class="table table-hover table-bordered table-primary mt-4">
    <thead>
        <tr align="center">
            <th scope="col">Cliente</th>
            <th scope="col">Preço do Contrato</th>
            <th scope="col">Tipo de Contrato</th>
            <th scope="col">Telefone</th>
            <th scope="col">Ações</th>
        </tr>
    </thead>
    <tbody>
        {{#each contratos}}
        <tr>
            <td>{{client}}</td>
            <td align="center">{{price}}</td>
            <td>{{type}}</td>
            <td align="center">{{phone}}</td>
            <td align="center">
                <form action="">
                    <input type="hidden" name="id" value="{{_id}}">
                    <div class="d-grid gap-2 d-md-block">
                        <a href="/contrato/info_contrato/:{{_id}}"><button class="btn btn-secondary btn-sm"
                                type="button"> <img src="/img/info.png" width="16px" height="16px" alt="">
                                Info</button></a>
                        <a href="/contrato/edit_contrato/:{{_id}}"><button class="btn btn-dark btn-sm"
                                type="button"> <img src="/img/pencil.png" width="16px" height="16px" alt="">
                                Editar</button></a>
                        <a href="#"><button class="btn btn-danger btn-sm" data-bs-toggle="modal"
                                data-bs-target="#excluirContrato" type="button"> <img src="/img/delete.png"
                                    width="18px" height="18px" alt=""> Excluir</button></a>
                    </div>
                </form>
            </td>
        </tr>
        <!-- Modal -->
        <div class="modal fade" id="excluirContrato" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Excluir Contrato</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h6>Deseja realmente excluir o contrato com {{client}} em {{address.neighborhood}} ?</h6>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal"> <img src="/img/cancel2.png" width="22px" height="22px"> Cancelar</button>
                        <form action=""><button type="button" class="btn btn-success"> <img  src="/img/check.png" width="22px" height="22px" alt=""> Deletar</button> </form>
                    </div>
                </div>
            </div>
        </div>
        {{else}}

        {{/each}}

    </tbody>
</table>