<script>
  var elementoAtivo = document.getElementsByClassName("active");
  elementoAtivo[0].classList.remove('active');
  var elemento = document.getElementById("dailyCleaning");
  elemento.classList.add("active");
</script>


<div class="card">

  <div class="card-header text-white" style="background-color:lightslategray">
    <div class="row g-3">
      <div class="col-1">
        <img class="rounded mx-auto d-block" src="/img/cleaning2.png" width="60px" heigth="60px" alt="">
      </div>
      <div class="col-11 mt-4">
        <h1>Limpezas do Dia - {{dateSearching}}</h1>
      </div>
    </div>
  </div>

  <div class="card-body">
    <form action="dailyCleaning" method="get">
      <div class="row g-3">
        <div class="mt-4 col-auto">
          <label class="form-label" for="date">Selecione uma data:</label>
        </div>
        <div class="col">
          <input type="date" name="date" id="date" value="{{dateFormatedSearching}}" class="form-control">
        </div>
        <div class="col">
          <button class="btn btn-primary" type="submit"> <img src="/img/search3.png" alt=""> Buscar
            Limpezas</button>
        </div>
      </div>
    </form>
  </div>

</div>

<table class="table table-hover table-bordered table-primary mt-4">
  <thead>
    <tr align="center">
      <th scope="col">Cliente</th>
      <th scope="col">Endereço</th>
      <th scope="col">Funcionário</th>
      <th scope="col">Status</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    {{#each cleanings}}
    <tr>
      <td>{{client.first_name}} {{client.last_name}}</td>
      <td>{{contract.address.street}}, {{contract.address.number}}</td>
      <td>{{employee.first_name}} {{employee.last_name}}</td>

      <td align="center">
        {{#if status}}
        Concluída
        {{else}}
        Pendente
        {{/if}}
      </td>
      <td align="center">
        <div class="d-grid gap-2 d-md-block">
          <button class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#concluirLimpeza-{{_id}}"
            type="button" 
            {{#if status}}
              disabled="true"
            {{else}}
            {{/if}} > <img src="/img/check.png" width="18px" height="18px" alt=""> Concluir</button>
        </div>
      </td>
    </tr>
    <!-- Modal -->
    <div class="modal fade" id="concluirLimpeza-{{_id}}" data-bs-backdrop="static" data-bs-keyboard="false"
      tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Concluir Limpeza</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <h6>Deseja realmente concluir a limpeza do cliente {{client.first_name}} {{client.last_name}} no bairro
              {{contract.address.neighborhood}} ?</h6>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal"> <img src="/img/cancel2.png"
                width="22px" height="22px"> Cancelar</button>
            <form action="/cleaning/update" method="post">
              <input type="hidden" name="id" value="{{_id}}">
              <button type="submit" class="btn btn-success"> <img src="/img/check.png" width="22px" height="22px"
                  alt=""> Concluir</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    {{else}}
        <div class="alert alert-danger mt-3">
          <h5>Não existe limpezas na data procurada</h5>
        </div>
    {{/each}}

  </tbody>
</table>